.idea
*__pycache__*
*.vscode*
*.pyc
*.pth
*.pt
*.dat

logs/
miniconda3/
datasets/lmdb/
datasets/rgb/
tmp_img*/
Miniconda3-latest-Linux-x86_64.sh
training/pretrained/author_sbi.tar

# Ignore all image files
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.svg
grad_upload.zip
gradcam_sbi_ff_celeb_upload.zip
gdrive
