numpy
pandas
Pillow
dlib
imageio
imgaug
tqdm
scipy
seaborn
pyyaml
imutils
opencv-python
scikit-image
scikit-learn
albumentations
torch
torchvision
torchaudio
efficientnet-pytorch
timm
segmentation-models-pytorch
torchtoolbox
tensorboard
setuptools
loralib
einops
transformers
filterpy
simplejson
kornia
fvcore
git+https://github.com/openai/CLIP.git
